* {
    border-radius: 1rem;
}

body {
    background-color: aliceblue;
    height: 100vh;
}

button {
    align-items: center;
    background-color: dimgrey;
    color: white;
    display: flex;
    font-size: 1.5rem;
    height: 4rem;
    justify-content: center;
    margin: 0.2rem;
    width: 4rem;
}

button:active {
    filter: brightness(135%);
}

#calculator {
    background-color: black;
    width: 19rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    justify-content: space-around;
    padding: 0 0.3rem 0.3rem;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.disp-num{
    display: flex;
    font-size: 1rem;
    height: 50%;
    justify-content: flex-end;
    padding-right: 0.5rem;
}

.current-number{
    font-size: 2rem;
}

.previous-number{
    font-size: 1.5rem;
}

.display {
    border: 0.1rem solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 4.5rem;
    margin: 0.7rem;
    overflow: hidden;
    padding: 0.3rem;
    white-space: nowrap;
}

.function-keys{
    display: flex;
    justify-content: space-around;
}

.function-keys button {
    font-size: 1.3rem;
    height: 2.5rem;
    width: 40%;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 13.2rem;
}

.operator {
    background-color: darkorange;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

